/Programacion/Semana1/JavaApplication1/nbproject/private/
/Programacion/Semana1/JavaApplication1/build/
/Programacion/Semana1/ProyectoJava2/nbproject/private/
/Programacion/Semana1/ProyectoJava2/build/
/Programacion/Semana1/ProyectoJava3/nbproject/private/
/Programacion/Semana1/ProyectoJava3/build/