@font-face {
  font-family: fortune;
  src: url("fuente/fortune.otf");
}
@font-face {
  font-family: goldLines;
  src: url("fuente/gold_lines.otf");
}

/*
Comentario :D
*/


h1, h2, h3, h4, h5, h6, p, ul, li {
 color: rgb(30, 30, 30);
 margin: 0px;
 padding: 0px;
}

header, main, footer {
  width: 800px;
  margin: auto;
  background: rgb(240, 240, 240);
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
}

body {
  background: rgb(200, 200, 200);
  font-family: sans-serif;
}


h1 {
  font-family: goldLines;
  font-size: 40px;
  border-bottom: 1px solid black;
}

h2 {
  font-family: fortune;
  font-size: 40px;
}


#imagenlogo {
  float: left;
  margin-right: 20px;
}


nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  padding: 5px;
  margin: 1px;
  list-style-type: none;
  float: left;
  background: black;
  color: white;
  text-transform: uppercase;
  width: 70px;
  font-size: 10px;
  text-align: center;
  transition: all 1s;
}

.clearfix {
  clear: both;
}

nav ul li:first-child {
  border-radius: 15px 0px 0px 15px;
}

nav ul li:last-child {
  border-radius: 0px 15px 15px 0px;
}

nav ul li:hover {
  background: white;
  color: black;
}


#carousel #contenedorcarrusel .diapositiva img {
  width: 100%;
}

#carousel #contenedorcarrusel .diapositiva{
  width: 800px;
  height: 800px;
  float: left;
}

#contenedorcarrusel {
  width: 800px;
  height: 800px;
  overflow: hidden;
}

#mascara {
  width: 4200px;
  height: 800px;
  animation: mueve 20s;
  animation-iteration-count: infinite;
  position: relative;
}
@keyframes mueve{
  0%{right: 0px;}
  20%{right: 0px;}
  25%{right: 800px;}
  45%{right: 800px;}
  50%{right: 1600px;}
  70%{right: 1600px;}
  75%{right: 2400px;}
  95%{right: 2400px;}
  100%{right: 3200px;}
}


#highlights article {
  width: 50%;
  float: left;
}

#highlights article img {
  width: 100%;
}

#highlights article .contienearticulo {
  padding: 10px;
}


#blog article {
  width: 25%;
  float: left;
}

#blog article img {
  width: 100%;
}

#blog article .contienearticulo {
  padding: 10px;
}